body {
  font-family: sans-serif;
  font-size: 14px;
  margin: 1.5em;
}

header {
  margin-bottom: 30px;
}

h1 {
  margin-bottom: 0;
}

h2 {
  font-weight: normal;
  font-size: 1.2em;
}

:root {
  color-scheme: light dark;
}

a {
  color: rgb(0, 0, 238);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #222;
    color: #fff;
  }

  a {
    color: rgb(88, 166, 255);
  }
}
